<div class="hidden md:block w-64 h-screen fixed top-0 left-0
bg-gradient-to-b from-blue-950 via-indigo-900 to-slate-900
text-white border-r border-white/10 shadow-2xl">

  

  <div class="p-6 border-b border-white/10">

    <h1 class="text-3xl font-extrabold tracking-wide">
Admin Dashboard    </h1>

  

  </div>

  

  <nav class="mt-6 space-y-2">

    <a
      routerLink="/dashboard"
      routerLinkActive="bg-indigo-500"
      class="flex items-center mx-3 px-4 py-3 rounded-xl hover:bg-white/10 transition-all duration-300">

<mat-icon>dashboard</mat-icon>

      <span class="ml-4 font-medium">
        Dashboard
      </span>

    </a>

    <a
      routerLink="/employee"
      routerLinkActive="bg-indigo-500"
      class="flex items-center mx-3 px-4 py-3 rounded-xl hover:bg-white/10 transition-all duration-300">

    <mat-icon>groups</mat-icon>

      <span class="ml-4 font-medium">
        Employees
      </span>

    </a>

    <a
      routerLink="/add-employee"
      routerLinkActive="bg-indigo-500"
      class="flex items-center mx-3 px-4 py-3 rounded-xl hover:bg-white/10 transition-all duration-300">

         <mat-icon>person_add</mat-icon>


      <span class="ml-4 font-medium">
        Add Employee
      </span>

    </a>

  </nav>



  <div class="absolute bottom-0 left-0 w-full p-6 border-t border-white/10">

    <div class="flex items-center">

      <div class="w-10 h-10 rounded-full bg-indigo-500 flex items-center justify-center">

        <mat-icon>admin_panel_settings</mat-icon>


      </div>

      <div class="ml-3">

        <p class="text-white font-semibold">

          Admin

        </p>

        <p class="text-blue-200 text-xs">

          Welcome Back!

        </p>

      </div>

    </div>

  </div>

</div>