<div class="flex justify-center items-center min-h-screen bg-blue-400 p-6">
  <form
  [formGroup]="employeeForm"
  class="w-full max-w-5xl bg-white rounded-2xl shadow-2xl p-10 grid grid-cols-2 gap-6"
  (ngSubmit)="onSubmit()"
>
<div class="col-span-2 text-center mb-4">
  <h2 class="text-3xl font-bold text-slate-800">
    Employee Registration
  </h2>
  
</div>
  <div>
    <label class="block mb-2 font-medium">Name</label>
    <input
      type="text"
      formControlName="name"
      placeholder="Enter employee name"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Email</label>
    <input
      type="email"
      formControlName="email"
      placeholder="Enter email"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Phone</label>
    <input
      type="text"
      formControlName="phone"
      placeholder="Enter phone"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Department</label>
    <input
      type="text"
      formControlName="department"
      placeholder="Enter department"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Designation</label>
    <input
      type="text"
      formControlName="designation"
      placeholder="Enter designation"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Salary</label>
    <input
      type="number"
      formControlName="salary"
      placeholder="Enter salary"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div>
    <label class="block mb-2 font-medium">Joining Date</label>
    <input
      type="date"
      formControlName="joiningDate"
      class="w-full border rounded-lg px-4 py-2"
    />
  </div>

  <div class="md:col-span-2">
    <label class="block mb-2 font-medium">Address</label>
    <textarea
      rows="4"
      formControlName="address"
      placeholder="Enter address"
      class="w-full border rounded-lg px-4 py-2"
    ></textarea>
  </div>

  <div class="col-span-2">
   <button
  type="submit"
  class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 font-bold"
  routerLink="/employee">
  {{ employeeId ? 'Update Employee' : 'Add Employee' }}
</button>
  </div>
</form>
</div>